.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 6em;
  padding-top: 6.67em;
  text-align: center;
}

.headerText {
  font-size: 2.22rem;
  padding-bottom: 0.45em;
  font-weight: 700;
  letter-spacing: -1px;
}

.headerParagraph {
  width: 65%;
  color: var(--grayish-violet);
  font-size: 1rem;
  font-weight: 500;
  line-height: 177.778%;
  letter-spacing: 0.123px;
}

@media only screen and (max-width: 426px) {
  .headerText {
    font-size: 1.55rem;
    letter-spacing: -0.7px;
  }

  .header {
    padding-top: 4em;
  }

  .headerParagraph {
    width: 100%;
    font-size: 0.88rem;
  }
}
