.wrapper {
  display: flex;
  align-items: center;
  background-color: var(--white);
  padding-bottom: 1em;
}

.logo {
  width: 120.043px;
  height: 32.674px;
  flex-shrink: 0;
}

.logoButtonWrapper {
  display: flex;
  align-items: center;
  margin-right: 2em;
}

.logoLink {
  display: flex;
  align-items: center;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.leftWrapper {
  display: flex;
  gap: 2em;
  align-items: center;
}

.leftMenu {
  display: flex;
  flex-direction: row;
}

.right {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

.button {
  background: none;
  border: none;
  color: var(--grayish-violet);
  font-size: 0.8333rem;
  font-weight: 700;
  padding: 1em;
  text-align: center;
}

.button:hover {
  color: var(--very-dark-gray);
}

.menuIcon {
  width: 24px;
  height: 21px;
  display: none;
}

.menuIconButton {
  border: none;
  background-color: transparent;
  display: none;
}

a {
  align-self: center;
}

@media only screen and (max-width: 426px) {
  .wrapper {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .logoButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    margin-right: 0;
  }

  .navbar {
    width: 85%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--darkviolet);
    border-radius: 10px;
    padding: 1em 1em 1.5em 1em;
    z-index: 2;
    top: 100%;
  }

  .leftWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2em;
    border-bottom: solid 1px var(--grayish-violet);
    padding-bottom: 1em;
    transition: 1s ease-in-out;
  }

  .leftMenu {
    flex-direction: column;
  }

  .right {
    padding-top: 1em;
    flex-direction: column;
    gap: 0.5em;
  }

  .button {
    color: var(--white);
  }

  .button:hover {
    color: var(--very-dark-gray);
  }

  .menuIcon {
    width: 24px;
    height: 21px;
    display: block;
  }

  .menuIconButton {
    display: block;
  }
}
