.wrapper {
  background-color: var(--very-dark-gray);
  padding: 4em 8%;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 3em;
  width: 40%;
}

.socials {
  display: flex;
  gap: 2em;
  justify-content: flex-end;
}

.socialsImg {
  width: 24px;
  height: 24px;
}

.elementHeader {
  color: var(--white);
  font-size: 0.8889em;
  font-weight: 700;
  letter-spacing: -0.25px;
  padding-bottom: 1.5em;
}

.elementText {
  list-style: none;
  color: var(--gray-font);
  font-size: 0.83334em;
  font-weight: 500;
  letter-spacing: -0.234px;
}

.elementText + .elementText {
  padding-top: 0.7em;
}

@media only screen and (max-width: 768px) and (min-width: 427px) {
  .wrapper {
    padding: 3em 8%;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .logotype {
    padding-bottom: 2em;
  }

  .menu {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 5em;
  }

  .elementHeader {
    width: 120px;
  }

  .socials {
    padding-top: 2em;
  }
}

@media only screen and (max-width: 426px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2em;
  }

  .logotype {
    padding-bottom: 2em;
  }

  .socials {
    padding-top: 2em;
  }

  .wrapper {
    padding: 3em 8%;
  }
}
