.wrapper {
  background-color: var(--white);
  border-radius: 5px;
  position: relative;
  padding: 77px 32px 41px 32px;
  height: 267px;
}

.imgContainer {
  padding: 24px;
  background-color: var(--very-dark-blue);
  border-radius: 90px;
  width: 88px;
  display: flex;
  position: absolute;
  top: -44px;
  left: 30px;
}

.img {
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    height: 335px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 427px) {
  .wrapper {
    padding: 77px 32px 41px 32px;
    height: auto;
  }

  .imgContainer {
    top: -44px;
    left: 43%;
  }
}

@media only screen and (max-width: 426px) {
  .imgContainer {
    top: -44px;
    left: 37.5%;
  }

  .wrapper {
    height: auto;
  }
}

@media only screen and (max-width: 376px) {
  .imgContainer {
    top: -44px;
    left: 36%;
  }

  .wrapper {
    height: auto;
  }
}

@media only screen and (max-width: 321px) {
  .imgContainer {
    top: -44px;
    left: 33.55%;
  }

  .wrapper {
    height: auto;
  }
}
